<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Weather Forecast</h4>
</div>
<div class="modal-body">
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%"
            src="http://forecast.io/embed/#lat=-33.823319&lon=151.196653&name=St Leonards&units=ca&color=#00B2EF">
    </iframe>
</div>
